{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>DjOneTimePass</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'otp-input.css' %}" />
  </head>

  <body>
    <div class="main-content-container">
      {% if messages %} {% for message in messages %}
      <div class="error-msg" id="errmsg">
        <i class="fa fa-times-circle"></i>
        {{ message }}
      </div>
      {% endfor %} {% endif %}

      <div class="success-msg hidden" id="sucmsg">
        <i class="fa fa-check"></i>
        This is a success message.
      </div>

      {% if user.is_authenticated %}

      <div class="text-container">
        <div class="font-h2-strong">You are logged in now</div>
        <div class="font-text-large-1">for logout you can use below button</div>
      </div>

      <div class="logout-form-container">
        <form class="logout-form" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </div>

      {% else %}

      <div id="not-login" class="text-container">
        <div class="font-h2-strong">Welcome to Password Less Django</div>
        <div class="font-text-large-1">
          you can go to admin Panel by press below button
        </div>
        <button id="admin-panel" type="button">Admin Panel</button>
      </div>

      <div id="login-page" class="hidden">
        <div class="text-container">



          <div class="font-h2-strong">Login</div>
          <div class="font-text-large-1" id="messageInp">Enter your phone number</div>

        </div>


          <div class="font-h2-strong">

            <input type="text" name="username" autofocus="" class="font-h2-strong" autocapitalize="none" autocomplete="username" maxlength="10" required="" id="id_username">
          </div>

          <div id="otp-inp" class="hidden">
            <div id="otp-input" class="font-h2-strong">
              <input class="font-h2-strong" placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no"
                pattern="\d*" />
              <input class="font-h2-strong" placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no"
                pattern="\d*" />
              <input class="font-h2-strong" placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no"
                pattern="\d*" />
              <input class="font-h2-strong" placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no"
                pattern="\d*" />
              <input class="font-h2-strong" placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no"
                pattern="\d*" />
              <input class="font-h2-strong" placeholder="_" type="number" step="1" min="0" max="9" autocomplete="no"
                pattern="\d*" />
              <input id="otp-value" placeholder="_" type="hidden" name="otp" />
            </div>

            <div class="font-h2-strong" id="countdown"></div>


          </div>


        <button id="submit">Submit</button>
        <button id="sendForm" class="hidden">Login</button>
      </div>
{% endif %}
    <script src="{% static 'otp-input.js' %}"></script>
    <script>
      {% if messages %}

      var errormsg = document.getElementById('errmsg');
      setTimeout(function(){
                  errormsg.classList.add('hidden')
              }, 3000)

      {% endif %}
    </script>
  </body>
</html>
