{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>DjOneTimePass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter", "sans-serif"],
            },
          },
        },
      };
    </script>
    <style>
      .hidden{
        display: none;
      }
    </style>
  </head>

  <body class="relative font-inter antialiased">
    <main
      class="relative min-h-screen flex flex-col justify-center bg-slate-50 overflow-hidden"
    >
      <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-24">
        <div class="flex justify-center">
          <div
            class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow"
          >
            <header class="mb-8">
              <h1 class="text-2xl font-bold mb-1">Login Page</h1>
              <p class="text-[15px] text-slate-500">
                Enter the 4-digit verification code that was sent to your phone
                number.
              </p>
            </header>
            <form id="otp-form">
              <div class="flex items-center justify-center gap-3">
                <input
                  type="text"
                  class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                  pattern="\d*"
                  maxlength="1"
                />
                <input
                  type="text"
                  class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                  maxlength="1"
                />
                <input
                  type="text"
                  class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                  maxlength="1"
                />
                <input
                type="text"
                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                maxlength="1"
              />                <input
              type="text"
              class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
              maxlength="1"
            />
                <input
                  type="text"
                  class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-4 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                  maxlength="1"
                />
              </div>
              <div class="max-w-[260px] mx-auto mt-4">
                <button
                  type="submit"
                  class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150"
                >
                  Login
                </button>
              </div>
            </form>
            <div class="text-sm text-slate-500 mt-4">
              Didn't receive code?
              <a
                class="font-medium text-indigo-500 hover:text-indigo-600"
                href="#0"
                >Resend</a
              >
            </div>
          </div>

          <div class="flex justify-center">
            <div
              class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow"
            >
              <header class="mb-8">
                <h1 class="text-2xl font-bold mb-1">You are logged in now</h1>
                <p class="text-[15px] text-slate-500">
                  for logout you can use below button.
                </p>
              </header>
              <div class="max-w-[260px] mx-auto mt-4">
                <button
                  type="submit"
                  class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>

          <div class="flex justify-center hidden">
            <div
              class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow"
            >
              <header class="mb-8">
                <h1 class="text-2xl font-bold mb-1">You are logged in now</h1>
                <p class="text-[15px] text-slate-500">
                  for logout you can use below button.
                </p>
              </header>
              <div class="max-w-[260px] mx-auto mt-4">
                <button
                  type="submit"
                  class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>

          <script src="{% static 'otp-input.js' %}"></script>
        </div>
      </div>
    </main>

    <!-- Page footer -->
    <footer
      class="absolute left-6 right-6 md:left-12 md:right-auto bottom-4 md:bottom-8 text-center md:text-left"
    >
      <a class="text-xs text-slate-500 hover:underline" href="https://cruip.com"
        >&copy;Dj-One-Time-Pass - Sina Mobarez</a
      >
    </footer>
    </div>
  </body>
</html>
