{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>success</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'otp-input.css' %}" />
</head>

<body>


  <div class="main-content-container">

    {% if user.is_authenticated %}

    <div class="text-container">


      
      <div class="font-h2-strong">You are logged in now</div>
      <div class="font-text-large-1">for logout you can use below button</div>

    </div>

    <div class="logout-form-container">
      <form class="logout-form" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
      </form>
  </div>

    {% else %}

    <div class="text-container">


      
      <div class="font-h2-strong">Welcome to Password Less Django</div>
      <div class="font-text-large-1">you can go to admin Panel by press below button</div>

    </div>


    <a type="button" href="http://127.0.0.1:8000/admin/">Admin Panel</a>

    {% endif %}
  </div>
</body>

</html>